In [2]:
import pandas as pd
from sqlalchemy import create_engine
from secrets import secrets

In [3]:
skills = []

with open("skills/new_skills.txt") as f:
    for s in f:
        skills.append(s.strip('\n'))

skills = list(set(skills))
skills.sort()
print(skills)

['AB Initio', 'AWS Glue', 'Airbyte', 'Alooma', 'Alteryx', 'Apache Accumulo', 'Apache Airflow', 'Apache Camel', 'Apache Kafka', 'Apache Mahout', 'Apache NiFi', 'Apache Nutch', 'Apatar', 'Atom', 'Azure Data Factory', 'BusinessObjects Data Integrator', 'CloverDX', 'DBConvert Studio', 'DBSoftlab', 'Data Integration Studio', 'Denodo', 'Etleap', 'FME', 'Fivetran', 'FlyData', 'GeoKettle', 'HPCC Systems', 'Hevo Data', 'Hypertable', 'IRI Voracity', 'InfoSphere DataStage', 'InfoSphere Information Server', 'Informatica PowerCenter', 'Jasper', 'Jaspersoft ETL', 'KETL', 'Logstash', 'Matillion', 'Oracle Data Integrator (ODI)', 'Oracle Golden Gate (OGG)', 'Oracle Warehouse Builder', 'Panoply', 'Pentaho', 'Pentaho Data Integration (PDI)', 'Qlik Replicate', 'SQL Server Integrated Services (SSIS)', 'Scriptella', 'Segment', 'Singer', 'Skyvia', 'Sprinkle', 'Stitch', 'Striim', 'Sybase ETL', 'TIBCO Messaging', 'Talend', 'Xplenty']

In [5]:
engine = create_engine(secrets['skills_db'])
df_s = pd.read_sql_query('select * from "Skill"', engine)
df_s.head()

   Id                 Skill  DomainId
0   0    Account Receivable       0.0
1   1            Accounting       0.0
2   2   Accounting Software       0.0
3   3  Accounting Standards       0.0
4   4      Accounts Payable       0.0

In [7]:
ex_skill = df_s.loc[df_s['Skill'].isin(skills)]['Skill'].tolist()
ex_skill

['Apache Kafka', 'Logstash', 'Alteryx']

In [8]:
skills_to_add = [s for s in skills if s not in ex_skill]
print(skills_to_add)

['AB Initio', 'AWS Glue', 'Airbyte', 'Alooma', 'Apache Accumulo', 'Apache Airflow', 'Apache Camel', 'Apache Mahout', 'Apache NiFi', 'Apache Nutch', 'Apatar', 'Atom', 'Azure Data Factory', 'BusinessObjects Data Integrator', 'CloverDX', 'DBConvert Studio', 'DBSoftlab', 'Data Integration Studio', 'Denodo', 'Etleap', 'FME', 'Fivetran', 'FlyData', 'GeoKettle', 'HPCC Systems', 'Hevo Data', 'Hypertable', 'IRI Voracity', 'InfoSphere DataStage', 'InfoSphere Information Server', 'Informatica PowerCenter', 'Jasper', 'Jaspersoft ETL', 'KETL', 'Matillion', 'Oracle Data Integrator (ODI)', 'Oracle Golden Gate (OGG)', 'Oracle Warehouse Builder', 'Panoply', 'Pentaho', 'Pentaho Data Integration (PDI)', 'Qlik Replicate', 'SQL Server Integrated Services (SSIS)', 'Scriptella', 'Segment', 'Singer', 'Skyvia', 'Sprinkle', 'Stitch', 'Striim', 'Sybase ETL', 'TIBCO Messaging', 'Talend', 'Xplenty']

In [9]:
max_id = df_s['Id'].max()
max_id

3283

In [13]:
df_s2 = pd.DataFrame()
df_s2.loc[:, 'Skill'] = skills_to_add
df_s2['Id'] = df_s2.index + max_id + 
df_s2.head()

                                    Skill
0                               AB Initio
1                                AWS Glue
2                                 Airbyte
3                                  Alooma
4                         Apache Accumulo
5                          Apache Airflow
6                            Apache Camel
7                           Apache Mahout
8                             Apache NiFi
9                            Apache Nutch
10                                 Apatar
11                                   Atom
12                     Azure Data Factory
13        BusinessObjects Data Integrator
14                               CloverDX
15                       DBConvert Studio
16                              DBSoftlab
17                Data Integration Studio
18                                 Denodo
19                                 Etleap
20                                    FME
21                               Fivetran
22                                FlyData
23                              GeoKettle
24                           HPCC Systems
25                              Hevo Data
26                             Hypertable
27                           IRI Voracity
28                   InfoSphere DataStage
29          InfoSphere Information Server
30                Informatica PowerCenter
31                                 Jasper
32                         Jaspersoft ETL
33                                   KETL
34                              Matillion
35           Oracle Data Integrator (ODI)
36               Oracle Golden Gate (OGG)
37               Oracle Warehouse Builder
38                                Panoply
39                                Pentaho
40         Pentaho Data Integration (PDI)
41                         Qlik Replicate
42  SQL Server Integrated Services (SSIS)
43                             Scriptella
44                                Segment
45                                 Singer
46                                 Skyvia
47                               Sprinkle
48                                 Stitch
49                                 Striim
50                             Sybase ETL
51                        TIBCO Messaging
52                                 Talend
53                                Xplenty